.header {
  position: fixed;
  z-index: 40;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  background-color: var(--color-accent);
  text-align: right;
  color: var(--color-white);
  display: flex;
  justify-content: space-between;

  &-user {
    padding: 0 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    &__info {
      display: flex;
      justify-content: center;
      justify-items: center;
      flex-direction: column;
      text-align: end;

      &--name {
        font-weight: bold;
      }

      &--role {
        font-size: 14px;
      }
    }

    &__img {
      height: 5rem;
      width: 5rem;
    }
  }

  &-logo {
    height: 5rem;
    width: 5rem;
    padding-left: 1rem;
  }

}
