.table-container {
  width: 100%;
  overflow-x: auto;
  margin: 20px 0;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  background-color: #f9f9f9;
}

.custom-table thead {
  background-color: var(--color-primary);
  color: white;
}

.custom-table th,
.custom-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  font-size: 12px;
}

.custom-table tbody tr:hover {
  background-color: #f1f1f1;
}

.edit-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #45a049;
}

.pagination {
  margin: 2rem 0;
  display: flex;
  justify-content:
    start;
  align-items: center;
}

.page-button {
  background-color: var(--color-primary);
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 8px;
  margin: 0 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.page-button:hover {
  background-color: var(--color-primary);
}

.page-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.page-button.active {
  background-color: var(--color-primary);
  pointer-events: none;
}
