:root {
  --color-primary: #007BEC;
  --color-secondary: #6c5ce7;
  --color-accent: #1FB2A5;
  --color-info: #3abff8;
  --color-error: #f87272;
  --color-body: #ccc;
  --color-body-darker: #5c5577;
  --color-white: #fff
}

html {
  font-size: 62.5%;
  background-color: var(--color-body);
}

img {
  width: 100%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.3;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

.input,
.select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.error {
  font-size: 12px;
  color: var(--color-error);
  padding: .5rem;

  &-border {
    border: 1px solid var(--color-error) !important;
  }
}

label {
  display: block;
  font-size: 12px;
  padding-bottom: 4px;
}

button {
  text-decoration-line: none;
  height: 4.8rem;
  padding: 0 2.8rem;
  border: 1px solid transparent;
  display: inline-flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-primary);
  border-radius: 8px;
  color: var(--color-white);
  margin: 3rem 0rem;
  font-size: 16px;
  font-weight: bold;
}

.button-disabled {
  background-color: #e3e3e3;
  cursor: not-allowed;
}
