.form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  &-actions {
    display: flex;
    gap: 1rem;
  }
}

.button-secondary {
  background-color: var(--color-secondary);
}

.error-employee {
  padding: 3rem 1rem;
}
